

#footer{
    background-image: url(https://st2.depositphotos.com/3503231/7677/v/950/depositphotos_76779885-stock-illustration-blue-white-mosaic-background-creative.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}